body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  background-color: #542868;
  margin: 0;
}

.wrapper {
  position: relative;
  min-width: 320px;
  max-width: 425px;
  min-height: 568px;
  height: 100vh;
  overflow: hidden;
  background-color: #542868;
  color: #ffffff;
}

br {
  display: none;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: none;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  outline: 0;
  color: #ffffff;
}

.window-menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff;
}

.btn-line {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 33.3333333333%;
  height: 2px;
  background-color: #ffffff;
  transition: transform .2s;
}

.menu-btn {
  width: 33%;
  text-align: center;
  padding: 10px 0;
  transition: transform .2s;
}

.menu-btn.active {
  transform: scale(1.03);
}

.info-container {
  display: flex;
  overflow: hidden;
  width: 300%;
  height: calc(100vh - 246px);
  transition: transform .2s;
}

.list {
  width: 100%;
  padding: 15px 0;
  overflow-y: auto;
}

.point-item,
.localstorage-clean {
  padding: 7px 15px;
  color: #AC9BA9;
  border-bottom: 1px solid #AC9BA922;
  box-sizing: border-box;
}

.track-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 15px;
  color: #AC9BA9;
  border-bottom: 1px solid #AC9BA922;
  min-height: 47px;
  box-sizing: border-box;
}

.track-name {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.bottom-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0 0;
  box-shadow: inset 0px 0px 8px rgba(215, 215, 215, 0.3);
  padding: 15px;
  box-sizing: border-box;
}

.current {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  color: #AC9BA9;
}

.add-point {
  position: absolute;
  top: 0px;
  right: 18px;
  font-size: 32px;
  color: #ffffff;
  transform: color .5s;
  transition: .5s;
}

.add-point:disabled {
  color: #AC9BA9;
}

.current-track {
  margin-bottom: 10px;
}

.range {
  position: absolute;
  bottom: 68px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: calc(100% - 30px);
}

.range-control {
  position: absolute;
  height: 1px;
  background-color: deeppink;
}

.track-range {
  width: 100%;
  margin: 10px 0;
  height: 1px;
  background-color: #AC9BA9;
}

.controls {
  position: absolute;
  bottom: 28px;
  display: flex;
  justify-content: center;
  width: calc(100% - 30px);
}

.button {
  width: 47px;
  height: 39px;
  background-color: #f8f8f8;
  margin: 0 4.5px;
  border-radius: 5px;
  color: #542868;
  box-shadow: inset 0px 0px 10px #62297B;
  font-size: 0;
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
}

.controls-block {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  display: flex;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  transition: .5s;
}

.controls-block.active {
  opacity: 1;
  pointer-events: all;
}

.controls-block .button {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rewind-controls .controls-btn {
  background-image: url(../img/rewind.svg);
  background-size: 38%;
}
.play {
  background-image: url(../img/play.svg);
}
.pause {
  background-image: url(../img/pause.svg);
}
.stop {
  background-image: url(../img/stop.svg);
}
.speed-controls .controls-btn {
  background-image: url(../img/speed.svg);
  background-size: 38%;
}

.copyright {
  position: fixed;
  right: 5px;
  bottom: 5px;
  color: white;
}
